
   <div>
      <button mat-button [matMenuTriggerFor]="menu">
        
          <mat-icon class="mat-24" aria-label="menu principal"><i class="material-icons">group_work</i></mat-icon>
          </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="jugador/index">Jugador</button>
        <button mat-menu-item routerLink="equipo/adicionar">Equipo</button>
        <button mat-menu-item routerLink="partido/adicionar">Partido</button>
        
        
      </mat-menu> 
    </div>
    