

<form #addform="ngForm">
  Adicione Equipo
<table>
  <tr>
    <td>
      <md-form-field >
        <input required mdInput placeholder="Nombre"[(ngModel)]="equipo.nombre" name="nombre"#nombre="ngModel">
      </md-form-field>
    </td> 
  </tr>
  <tr>
    <td>
      <md-form-field >
        <input required mdInput placeholder="Ciudad"[(ngModel)]="equipo.ciudad" name="ciudad"#ciudad="ngModel">
      </md-form-field>
    </td> 
  </tr>
  <tr>
    <td>
      <md-form-field >
        <input required mdInput placeholder="Categoria"[(ngModel)]="equipo.categoria" name="categoria"#categoria="ngModel">
      </md-form-field>
    </td> 
  </tr>
  <tr>
    <td>
      <md-form-field 
      >
        <input required mdInput placeholder="Fundado"[(ngModel)]="equipo.fundado" name="fundado"#fundado="ngModel">
      </md-form-field>
    </td> 
  </tr>
  <tr>
    <td>
      <div class="button-row">
          <button   md-raised-button color="primary"(click)="onNewClick()">Nuevo</button>
        <button [disabled]="!addform.valid"  md-raised-button color="primary"(click)="onSaveClick()">Guardar</button>
    </div>
    </td> 
  </tr>

</table>
</form>
