<form #addform="ngForm">
Adicione Partido
<table>
<tr>
  <td>
    <md-form-field   >
      <input required mdInput placeholder="Estadio"[(ngModel)]="partido.estadio" name="estadio"#estadio="ngModel">
      <md-error>
        
     </md-error>  
    </md-form-field>
  </td> 
</tr>
<tr>
  <td>
    <md-form-field  >
      <input required mdInput placeholder="Fecha"[(ngModel)]="partido.fecha" name="fecha"#fecha="ngModel">
    </md-form-field>
  </td> 
</tr>
<tr>
  <td>
    <md-form-field  >
      <input required mdInput placeholder="Hora"[(ngModel)]="partido.hora" name="hora"#hora="ngModel">
    </md-form-field>
  </td> 
</tr>

<tr>
  <td>
    <div class="button-row">
        <button   md-raised-button color="primary"(click)="onNewClick()">Nuevo</button>
      <button [disabled]="!addform.valid"  md-raised-button color="primary"(click)="onSaveClick()">Guardar</button>
  </div>
  </td> 
</tr>

</table>
</form>
